<script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>
    var socket = io.connect('http://localhost:3001');

    socket.on('connect', function () {
        // call the server-side function 'subscribe' and send one parameter stock
        let urlParams = new URLSearchParams(location.search);
        let stock = urlParams.get('stock');

        if (stock)
            socket.emit('subscribe', { event: "subscribe", symbol: stock, interval: 15 });
        else
            socket.emit('subscribe', { event: "subscribe", symbol: "XXBTZUSD", interval: 15 });//default stock

    });

    // listener, whenever the server emits 'ohlc_notify'
    socket.on('ohlc_notify', function (data) {
        $('#stockdetails').append(data + '<br/><br>------------------------------------------------', new Date().toISOString(), '--------------------------------------------------<br/><br/>');
    });

</script>
<div style="float:left;overflow:scroll-y;padding:10px;">
    <div id="stockdetails"></div>
</div>

<!-- 
file:///D:/ohlc-project/socket-client.html?stock=XXBTZUSD
file:///D:/ohlc-project/socket-client.html?stock=XXRPXXBT
file:///D:/ohlc-project/socket-client.html?stock=ADAEUR
file:///D:/ohlc-project/socket-client.html?stock=ADAXBT
file:///D:/ohlc-project/socket-client.html?stock=EOSXBT
file:///D:/ohlc-project/socket-client.html?stock=GNOXBT -->